//文件夹
PC/*
.vs/*
Log/*
Temp/*
Library/*
Packages/*
AssetBundles/*
AB/*
UserSettings/*
ProjectSettings/*
//插件
Assets/StreamingAssets/*
Assets/Plugins/Sirenix
Assets/Plugins/Sirenix/*
//其他项目
OtherSolution/Server/.vs/*
OtherSolution/xls检测更新/bin/*
OtherSolution/xls检测更新/.vs/*
//后缀
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.sln
*.csproj
*.sln
*.log
*.cache
//特殊文件
password.txt
UserSettings/Layouts/default-2021.dwlt
OtherSolution/Server/bin/Debug/net6.0/config.ini
config.ini
